<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.csdj.dao.lk.post.PostMapper">

    <!-- 缓存 -->
    <cache eviction="FIFO" flushInterval="60000" size="1024" readOnly="true"/>

    <resultMap id="fsPost_news" type="FsPost">
        <id property="id" column="p_id"></id>
        <result property="pcount" column="pcount"></result>
        <association property="fsUser" column="fsUser" javaType="FsUser">
            <id property="id" column="u_id"></id>
        </association>
        <association property="fsPostlist" column="fsPostlist" javaType="FsPostlist"></association>
    </resultMap>

    <select id="getSelect_Post" resultMap="fsPost_news">
        SELECT p.id as p_id,p.postTitile,p.details,p.postTypeId,p.picturePath,p.videoPath,p.heat,(select count(1) from fs_praise where p.id=fs_praise.postId) as pcount,l.score,u.id as u_id,u.userName,u.avatarPath
        FROM fs_post as p,fs_postlist as l,fs_user as u
        WHERE p.id=l.postId and p.posterId=u.id and p.isAudit=1
        ORDER BY l.score DESC
        limit #{page},#{limit}
    </select>

    <select id="getSelect_Post_Count" resultType="int">
        SELECT count(1)
        FROM fs_post as p,fs_postlist as l,fs_user as u
        WHERE p.id=l.postId and p.posterId=u.id
    </select>

</mapper>