*{
	margin:0px;
	padding: 0px;
	list-style: none;
}
.search{
	border:1px solid #f4f4f4;
	top:0px;
	left:0px;
	width: 50%;
	height: 40px;
	margin-top: 18px;
}
.s_con{
	position: relative;
	float: left;
	display: block;
	width: 70%;
	height: 40px;
}
.s_con input{
	display: inline-block;
	border: 0px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-indent: 10px;
}
.s_con .clear{
	display: none;
	position: absolute;
	right: 0px;
	top:6px;
	content: "";
	/* width: 25px; */
	height: 25px;
	background-size: 25px 25px;
	cursor:pointer;
}
.s_btn{
	float: left;
	display: block;
	background-color: #FFFFFF;
	width: 30%;
	height: 40px;
	line-height: 40px;
	color: #000;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
}